@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind base layer */
@layer base {
  html {
    font-size: 62.5%;
    @apply dark:bg-gray-900 dark:text-white;
  }

  body {
    font-size: 1.6rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* masonry */
.masonry {
  display: flex;
  margin-left: -4em;
  width: auto;
}

.masonry-col {
  padding-left: 4em;
  background-clip: padding-box;
}
