@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind base layer */
@layer base {
  html {
    font-size: 62.5%;
    @apply dark:bg-gray-900 dark:text-gray-50;
  }

  body {
    font-size: 1.6rem;
  }
}

/* other elements */
.custom-link {
  background-size: auto 175%;
  transition: background 0.3s ease-in-out;
}

.custom-link:hover {
  background-position-y: 100%;
}
