@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind base layer */
@layer base {
  html {
    font-size: 62.5%;
    font-kerning: normal;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
  }

  body {
    font-size: 1.6rem;
  }

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  ::selection {
    @apply bg-gray-200 text-gray-900 dark:bg-gray-700 dark:text-gray-50;
  }

  ::-webkit-scrollbar {
    @apply w-[0.33em];
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 dark:bg-gray-700;
  }

  /* other elements */
  .custom-link {
    background-size: auto 175%;
    transition: background 0.3s ease-in-out;
  }

  .custom-link:hover {
    background-position-y: 100%;
  }

  .group {
    transition: flex-basis 500ms ease-in-out;
  }
}
